.item-img {
  width: 20px;
  height: 100px;
  border: solid 2px black;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 200px 70px;
  width: 60rem;
  margin: 10px;
}

.div-img {
  padding: 0px 20px 0px 20px;
}

.div-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px;
}

.buttons {
  margin: 20px;
}
.div-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
