.div-form-add-product {
  display: flex;
  justify-content: flex-start;
  margin: 0% 25%;
  flex-direction: column;
}

#add-button {
  width: 200px;
}

#div-add-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
}
