.card-text {
  color: black;
}

.animated-button {
  margin-left: 120px;
  width: 125px;
  height: 40px;
  white-space: nowrap;
  font-size: 10px;
}

.card-img {
  border: 5px solid black;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 300px;
}
.card {
  width: 18rem;
  border: 6px solid black;
  border-radius: 5px;
}
