:root {
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --color-bg-primary: #121212;
  --color-bg-secondary: #edafb8;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.white-icon {
  color: #ffffff;
  size: 20px;
  width: 25px;
  height: 25px;
  padding: 0px 0px;
}

.button-toggle-theme.btn.btn-primary {
  margin: 0px 8px;
  padding: 6px 8px 6px 2px;
}

div {
  border: var(--color-bg-secondary);
}
