.text-muted2 {
  color: white;
  --bs-text-opacity: 1;
}

.div-form-login-container {
  display: flex;
  justify-content: flex-start;
  margin: 0% 25%;
  flex-direction: column;
}

.form-label {
  margin-top: 10px;
}

.form-control-password {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
}

.show-password-icon {
  size: 20px;
  width: 25px;
  height: 25px;
}

#show-password-button {
  padding: 0px;
}
