.text-muted2 {
  color: white;
  --bs-text-opacity: 1;
  margin-bottom: 300px;
}

.div-form-login-container {
  display: flex;
  justify-content: flex-start;
  margin: 0% 25%;
  flex-direction: column;
}

.form-label {
  margin-top: 10px;
}
